<!DOCTYPE HTML>
<html>
	<head>
		<title>THE PYTHON CODER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="icon" type="image/x-icon" href="./static/favicon.png">
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>This is<br />
						The PYTHON Coder</h1>
						<p>A free, fully responsive site based on Flask <a href="https://instagram.com"></a><br />
						</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">The PYTHON Coder</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="index.html">The PYTHON Coder</a></li>
							<li><a href="generic.html">Data Science</a></li>
							<li class="active"><a href="elements.html">Elements Reference</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://facebook.com" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://instagram.com" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<h1>Elements Reference</h1>



							</article>

						<!-- Posts -->
							<section class="posts">

								<article>
									<header class="major">

									<h2><a>Computer Vision
									</a></h2>

										<p style="text-align: justify;">In Computer Vision, computers or machines are made to gain high-level understanding from the input digital images or videos with the purpose of automating tasks that the human visual system can do. It uses many techniques and Image Processing is just one of them.  </p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Image Processing
									</a></h2>

										<p style="text-align: justify;">Image Processing is the field of enhancing the images by tuning many parameter and features of the images. So Image Processing is the subset of Computer Vision. Here, transformations are applied to an input image and the resultant output image is returned. Some of these transformations are- sharpening, smoothing, stretching etc. </p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Image Classification
									</a></h2>

										<p style="text-align: justify;">In Image classification, it takes an image as an input and outputs the classification label of that image with some metric (probability, loss, accuracy, etc). For Example: An image of a cat can be classified as a class label “cat” or an image of Dog can be classified as a class label “dog” with some probability. </p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Image Segmentation
									</a></h2>

										<p style="text-align: justify;">Image segmentation is a further extension of object detection in which we mark the presence of an object through pixel-wise masks generated for each object in the image. This technique is more granular than bounding box generation because this can helps us in determining the shape of each object present in the image because instead of drawing bounding boxes , segmentation helps to figure out pixels that are making that object. This granularity helps us in various fields such as medical image processing, satellite imaging, etc.  </p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Recurrent Neural Networks
									</a></h2>

										<p style="text-align: justify;">Today, different Machine Learning techniques are used to handle different types of data. One of the most difficult types of data to handle and the forecast is sequential data. Sequential data is different from other types of data in the sense that while all the features of a typical dataset can be assumed to be order-independent, this cannot be assumed for a sequential dataset. To handle such type of data, the concept of Recurrent Neural Networks was conceived. It is different from other Artificial Neural Networks in its structure. While other networks “travel” in a linear direction during the feed-forward process or the back-propagation process, the Recurrent Network follows a recurrence relation instead of a feed-forward pass and uses Back-Propagation through time to learn. </br>
										The Recurrent Neural Network consists of multiple fixed activation function units, one for each time step. Each unit has an internal state which is called the hidden state of the unit. This hidden state signifies the past knowledge that the network currently holds at a given time step. This hidden state is updated at every time step to signify the change in the knowledge of the network about the past</p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Short term Memory
									</a></h2>

										<p style="text-align: justify;">Short-term memory, also known as working memory, refers to the temporary storage of information that is being actively used and manipulated in the mind. It is a cognitive system that allows individuals to hold and process information for a short period of time. The information can be in the form of visual, auditory or motor information. The capacity of short-term memory is limited, usually around 7 (+-2) items, and the duration of short-term memory is around 20-30 seconds. The information in short-term memory can be rehearsed or encoded into long-term memory for later recall. The concept of short-term memory is often studied in psychology and cognitive science, and is considered a fundamental aspect of human cognition. </p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Long Short Term Memory
									</a></h2>

										<p style="text-align: justify;">Long Short-Term Memory (LSTM) is a type of Recurrent Neural Network (RNN) that is specifically designed to handle sequential data, such as time series, speech, and text. LSTM networks are capable of learning long-term dependencies in sequential data, which makes them well suited for tasks such as language translation, speech recognition, and time series forecasting. </p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Long Short Term Memory Networks
									</a></h2>

										<p style="text-align: justify;">LSTM networks are the most commonly used variation of Recurrent Neural Networks (RNNs). The critical component of the LSTM is the memory cell and the gates (including the forget gate but also the input gate), inner contents of the memory cell are modulated by the input gates and forget gates. Assuming that both of the segue he are closed, the contents of the memory cell will remain unmodified between one time-step and the next gradients gating structure allows information to be retained across many time-steps, and consequently also allows group that to flow across many time-steps. This allows the LSTM model to overcome the vanishing gradient properly occurs with most Recurrent Neural Network models. </p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Convolution Neural Network
									</a></h2>

										<p style="text-align: justify;">A Convolutional Neural Network (CNN) is a type of Deep Learning neural network architecture commonly used in Computer Vision. Computer vision is a field of Artificial Intelligence that enables a computer to understand and interpret the image or visual data.

                                           When it comes to Machine Learning, Artificial Neural Networks perform really well. Neural Networks are used in various datasets like images, audio, and text. Different types of Neural Networks are used for different purposes, for example for predicting the sequence of words we use Recurrent Neural Networks more precisely an LSTM, similarly for image classification we use Convolution Neural networks. </p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Gated Recurrent Unit Networks
									</a></h2>

										<p style="text-align: justify;">Gated Recurrent Unit (GRU) is a type of recurrent neural network (RNN) that was introduced by Cho et al. in 2014 as a simpler alternative to Long Short-Term Memory (LSTM) networks. Like LSTM, GRU can process sequential data such as text, speech, and time-series data.

                                            The basic idea behind GRU is to use gating mechanisms to selectively update the hidden state of the network at each time step. The gating mechanisms are used to control the flow of information in and out of the network. The GRU has two gating mechanisms, called the reset gate and the update gate. </p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Natural Language Processing
									</a></h2>

										<p style="text-align: justify;">NLP stands for Natural Language Processing. It is the branch of Artificial Intelligence that gives the ability to machine understand and process human languages. Human languages can be in the form of text or audio format.</p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Word Embeddings
									</a></h2>

										<p style="text-align: justify;">It is an approach for representing words and documents. Word Embedding or Word Vector is a numeric vector input that represents a word in a lower-dimensional space. It allows words with similar meanings to have a similar representation. They can also approximate meaning. A word vector with 50 values can represent 50 unique features.</br>
										They are used as input to machine learning models.</br>
</br>Take the words —-> Give their numeric representation —-> Use in training or inference</p>




								</header>
								</article>



							</section>

						<!-- Footer -->
							<footer>
								<h4>Email:- thepythonunderscorecoder@gmail.com</h4>
							</footer>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="submit_form">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">



							<section>

							</section>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>