<!DOCTYPE HTML>
<html>
	<head>
		<title>THE PYTHON CODER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="icon" type="image/x-icon" href="./static/favicon.png">
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>This is<br />
						The PYTHON Coder</h1>
						<p>A free, fully responsive site based on Flask <a href="https://instagram.com"></a><br />
						</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">The PYTHON Coder</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="index.html">The PYTHON Coder</a></li>
							<li class="active"><a href="generic.html">Data Science</a></li>
							<li><a href="elements.html">Elements Reference</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://facebook.com" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://instagram.com" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<h1><a>Data Science and machine Learning</a></h1>
								<p>Today, Data rules the world. This has resulted in a huge demand for Data Scientists.

                                    A Data Scientist helps companies with data-driven decisions, to make their business better.</p>



							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header class="major">

									<h2><a>Outliers and Their Effects
									</a></h2>

									<p style="text-align: justify;">Remember those school-day dances we had to do in kindergarten? Most kids would try and do the steps in a somewhat synchronous pattern.

									But in every group,there would be a braveheart who goes against all the teacher's instruction and does his own antics. Now ,everyone's attention is on this cheeky little outlier.
									When ML models try to learn a pattern, the outliers can distract them and sometimes skew their performance,leading to inaccurate results. </p>
									<p style="text-align: justify;">Outliers can also make the model difficult to train.This can make the training process longer and more expensive.So,it is important to deal with them effectively before training.</p>


								</header>
								</article>

								<article>
									<header class="major">

									<h2><a>Data Standardisation
									</a></h2>

									<p style="text-align: justify;">You know how when you ask five of your friends how hot it is outside?
										One says,'75°F',another goes '24°C',the third friend says '298 Kelvin'.
										Your fourth buddy,who's been at the bench all day,just says,'like,really warm,man.'
										And the last one just hands you an ice cream that's halfway melted.
										it is like getting all your friends to agree on using either Fahrenheit or Celsius.

									But in every group,there would be a braveheart who goes against all the teacher's instruction and does his own antics. Now ,everyone's attention is on this cheeky little outlier.
									<p style="text-align: justify;">When ML models try to learn a pattern, the outliers can distract them and sometimes skew their performance,leading to inaccurate results.
									Outliers can also make the model difficult to train.This can make the training process longer and more expensive.So,it is important to deal with them effectively before training.</p>


								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Data Processing
									</a></h2>

										<p style="text-align: justify;">Data Processing is the task of converting data from a given form to a much more usable and desired form i.e. making it more meaningful and informative. Using Machine Learning algorithms, mathematical modeling, and statistical knowledge, this entire process can be automated. The output of this complete process can be in any desired form like graphs, videos, charts, tables, images, and many more, depending on the task we are performing and the requirements of the machine. This might seem to be simple but when it comes to massive organizations like Twitter, Facebook, Administrative bodies like Parliament, UNESCO, and health sector organizations, this entire process needs to be performed in a very structured manner. </p>
									<p style="text-align: justify;">Data processing is a crucial step in the machine learning (ML) pipeline, as it prepares the data for use in building and training ML models. The goal of data processing is to clean, transform, and prepare the data in a format that is suitable for modeling.</p>


								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Data collection
									</a></h2>

										<p style="text-align: justify;">This is the process of gathering data from various sources, such as sensors, databases, or other systems. The data may be structured or unstructured, and may come in various formats such as text, images, or audio. </p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Data collection
									</a></h2>

										<p style="text-align: justify;">This is the process of gathering data from various sources, such as sensors, databases, or other systems. The data may be structured or unstructured, and may come in various formats such as text, images, or audio. </p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Data analysis
									</a></h2>

										<p style="text-align: justify;"> In this step, the data is analyzed using various techniques such as statistical analysis, machine learning algorithms, or data visualization. The goal of this step is to derive insights or knowledge from the data. </p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Data interpretation
									</a></h2>

										<p style="text-align: justify;">This step involves interpreting the results of the data analysis and drawing conclusions based on the insights gained. It may also involve presenting the findings in a clear and concise manner, such as through reports, dashboards, or other visualizations.</p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Data storage
									</a></h2>

										<p style="text-align: justify;">Once the data has been processed and analyzed, it must be stored and managed in a way that is secure and easily accessible. This may involve storing the data in a database, cloud storage, or other systems, and implementing backup and recovery strategies to protect against data loss.</p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Data visualization
									</a></h2>

										<p style="text-align: justify;">the results of the data analysis are presented to stakeholders in a format that is easily understandable and actionable. This may involve creating visualizations, reports, or dashboards that highlight key findings and trends in the data.</p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Linear Functions
									</a></h2>

										<p style="text-align: justify;">A linear function has one independent variable (x) and one dependent variable (y), and has the following form:

                                        </br>y = f(x) = ax + b
										</br>Explanation:</br>

                                             f(x) = the output (the dependant variable)</br>
                                             x = the input (the independant variable)</br>
											 a = slope = is the coefficient of the independent variable. It gives the rate of change of the dependent variable</br>
                                             b = intercept = is the value of the dependent variable when x = 0. It is also the point where the diagonal line crosses the vertical axis.</p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>One Hot Encoding
									</a></h2>

										<p style="text-align: justify;">One hot encoding is a technique that we use to represent categorical variables as numerical values in a machine learning model.</p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Feature Scaling
									</a></h2>

										<p style="text-align: justify;">Feature Scaling is a technique to standardize the independent features present in the data in a fixed range. It is performed during the data pre-processing to handle highly varying magnitudes or values or units. If feature scaling is not done, then a machine learning algorithm tends to weigh greater values, higher and consider smaller values as the lower values, regardless of the unit of the values. </p>
										<p style="text-align: justify;">Scaling guarantees that all features are on a comparable scale and have comparable ranges. This process is known as feature normalisation. This is significant because the magnitude of the features has an impact on many machine learning techniques. Larger scale features may dominate the learning process and have an excessive impact on the outcomes. You can avoid this problem and make sure that each feature contributes equally to the learning process by scaling the features.</p>


								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Label Encoding
									</a></h2>

										<p style="text-align: justify;">Label Encoding is a technique that is used to convert categorical columns into numerical ones so that they can be fitted by machine learning models which only take numerical data. It is an important pre-processing step in a machine-learning project.</p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Linear Regression
									</a></h2>

										<p style="text-align: justify;">Linear regression is a type of supervised machine learning algorithm that computes the linear relationship between a dependent variable and one or more independent features. When the number of the independent feature, is 1 then it is known as Univariate Linear regression, and in the case of more than one feature, it is known as multivariate linear regression. The goal of the algorithm is to find the best linear equation that can predict the value of the dependent variable based on the independent variables. The equation provides a straight line that represents the relationship between the dependent and independent variables. The slope of the line indicates how much the dependent variable changes for a unit change in the independent variable(s).</p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Logistic Regression
									</a></h2>

										<p style="text-align: justify;">Logistic regression is a supervised machine learning algorithm mainly used for classification tasks where the goal is to predict the probability that an instance of belonging to a given class or not. It is a kind of statistical algorithm, which analyze the relationship between a set of independent variables and the dependent binary variables. It is a powerful tool for decision-making. For example email spam or not.It is used for predicting the categorical dependent variable using a given set of independent variables. </p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Activation Function
									</a></h2>

										<p style="text-align: justify;"> the activation function of a node defines the output of that node or neuron for a given input or set of inputs. This output is then used as input for the next node and so on until a desired solution to the original problem is found.

                                         It maps the resulting values into the desired range such as between 0 to 1 or -1 to 1 etc. It depends upon the choice of the activation function. For example, the use of the logistic activation function would map all inputs in the real number domain into the range of 0 to 1. </p>



								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Artificial Neural Networks
									</a></h2>

										<p style="text-align: justify;">Artificial Neural Networks contain artificial neurons which are called units. These units are arranged in a series of layers that together constitute the whole Artificial Neural Network in a system. A layer can have only a dozen units or millions of units as this depends on how the complex neural networks will be required to learn the hidden patterns in the dataset. Commonly, Artificial Neural Network has an input layer, an output layer as well as hidden layers. The input layer receives data from the outside world which the neural network needs to analyze or learn about. Then this data passes through one or multiple hidden layers that transform the input into data that is valuable for the output layer. Finally, the output layer provides an output in the form of a response of the Artificial Neural Networks to input data provided.  </p>



								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Gradient Descent
									</a></h2>

										<p style="text-align: justify;"></br>Gradient descent is an iterative optimization algorithm that is used to minimize a function by iteratively moving in the direction of the steepest descent as defined by the negative of the gradient. In other words, the gradient descent algorithm takes small steps in the direction opposite to the gradient of the function at the current point, with the goal of reaching a global minimum. </p>



								</header>

								</article>


								
							</section>

						<!-- Footer -->
							<footer>
								<h4>Email:- thepythonunderscorecoder@gmail.com</h4>
							</footer>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="submit_form">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">



							<section>

							</section>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>