<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>THE PYTHON CODER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		 <link rel="icon" type="image/x-icon" href="./static/favicon.png">
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>This is<br />
						The PYTHON Coder</h1>
						<p>A free, fully responsive site based on Flask <a href="https://instagram.com"></a><br />
						</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">The PYTHON Coder</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">The PYTHON Coder</a></li>
							<li><a href="generic.html">Data Science</a></li>
							<li><a href="elements.html">Elements Reference</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://facebook.com" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://instagram.com" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
						<article class="post featured">

							    <header class="major">

									<h2><a>Python<br />
									</a></h2>
									<p >Python was conceived in late 1980s and it's implementation started in
										December, 1989 </br>by Guido van Rossum at CWI in the Netherlands as a successor
										to ABC programming language.</br>It was published in 1991.

									</p>
									</header>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header class="major">

									<h2><a>Variables<br />
									</a></h2>
									<p style="text-align: justify;" >Variables are containers for storing data values.
									A variable is created the moment you first assign a value to it.</br>
                                        Example:</br>
                                        </p><p>
									x=5</br>
									y='john'</p>
								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Data Types<br />
									</a></h2>
									<p>Python has the following data types built-in by default:</br>
                                        Text Type:- str</br>
										Numeric Types:- int,float,complex</br>
										Sequence Types:- list,tuple,range</br>
										Mapping Type:- dict</br>
										Set Types:- set,frozenset</br>
										Boolean Type:- bool</br>
										Binary Types:- bytes,bytearray
									</p>
									</header>
								</article>
									<article>
									<header class="major">

									<h2><a>Operators<br />
									</a></h2>
									<p>Operators are used to perform operations on variables and values.</br>
										Addition: x+y</br>
										Subtraction: x-y</br>
										Multiplication: x*y</br>
										Division:x/y</br>
									    Modulus:x%y</br>
										Exponentiation:x**y</br>
										Floor division:x//y
									</p>
									</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Hello, World!<br />
									</a></h2>
									<p><h3>print('Hello, world!')</h3></p>
									<p style="text-align: justify;">This is the most basic thing, one will come across in Python Programming.
									It simply illustrates how to print something in python.</p>
								</header>

								</article>
										<article>
									<header class="major">

									<h2><a>Python String<br />
									</a></h2>
									<p style="text-align: justify;">A String is a data structure in Python that represents a sequence of characters.
										It is an immutable data type, meaning that once you have created a string,
										you cannot change it. Strings are used widely in many different applications,
										such as storing and manipulating text data, representing names, addresses,
										and other types of data that can be represented as text.</br>
									    Example:</br></p><p>
									"thepythoncoder"</p>
								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Python Lists<br />
									</a></h2>
									<p style="text-align: justify;">Python Lists are just like dynamically sized arrays, declared in other languages
										(vector in C++ and ArrayList in Java). In simple language, a list is a collection
										of things, enclosed in [ ] and separated by commas.</br>
										Example:</br>
                                        </p><p>
										Var = ["the", "python", "coder"] </br>
										print(Var)
									</p>
								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Python Tuples<br />
									</a></h2>
									<p style="text-align: justify;">Tuple is a collection of Python objects much like a list.
										The sequence of values stored in a tuple can be of any type, and they are indexed by integers.
										Values of a tuple are syntactically separated by ‘commas’. Although it is not necessary,
										it is more common to define a tuple by closing the sequence of values in parentheses.
										This helps in understanding the Python tuples more easily.
										</br>Example:</br>
                                        </p><p>
										Tuple1 = ('python', 'coder') </br>
										print(Tuple1)
									</p>
								</header>

								</article>
								<article>
									<header class="major">

									<h2><a>Sets in Python<br />
									</a></h2>
									<p style="text-align: justify;">A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements.
										The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether
										a specific element is contained in the set. This is based on a data structure known as a hash table. Since sets are unordered,
										we cannot access items using indexes as we do in lists.
										</br>Example:</br>
                                        </p><p>
										set1 = {"the", "python", "coder"}</br>
										print(set1)
									</p>
								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Python Dictionary<br />
									</a></h2>
									<p style="text-align: justify;">Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold
										only a single value as an element.
										</br>Example:</br>
                                        </p><p>
										Dict = {1: 'the', 2: 'python', 3: 'coder'} </br>
										print(Dict)
									</p>
								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Python If Else<br />
									</a></h2>
									<p style="text-align: justify;">There comes situations in real life when we need to make some decisions and based on these decisions, we decide what should we do next. Similar situations arise in programming also where we need to make some decisions and based on these decisions we will execute the next block of code. Decision-making statements in programming languages decide the direction(Control Flow) of the flow of program execution.

										</br>Example:</br>
                                        </p><p>
										i = 10</br>
										if (i > 15):</br>
										 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbspprint("10 is less than 15")</br>
										&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbspprint("I am Not in if")
									</p>
								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Python For Loops<br />
									</a></h2>
									<p style="text-align: justify;">Python For loop is used for sequential traversal i.e. it is used for iterating over an iterable like String, Tuple, List, Set, or Dictionary.

										</br>Example:</br>
                                        </p><p>
										l = ["the", "python", "coder"]</br>
										for i in l:</br>
										&nbsp &nbsp &nbsp &nbsp print(i)
										</p>
								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Python While Loops<br />
									</a></h2>
									<p style="text-align: justify;">Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied. And when the condition becomes false, the line immediately after the loop in the program is executed.

										</br>Example:</br>
                                        </p><p>
										count = 0</br>
										while (count < 3):</br>
										&nbsp &nbsp &nbsp &nbsp count = count + 1</br>
										&nbsp &nbsp &nbsp &nbsp &nbsp print("Hello Geek")
										</p>
								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Python break statement<br />
									</a></h2>
									<p style="text-align: justify;">Python break is used to terminate the execution of the loop.
										</br>Example:
                                    </p>
										<p>for i in range(10):</br>
											        print(i)</br>
											        if i == 2:</br>
											            &nbsp &nbsp &nbspbreak</p>

								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Python Continue statement<br />
									</a></h2>
									<p style="text-align: justify;">Python Continue Statement skips the execution of the program block after the continue statement and forces the control to start the next iteration.

                                       </br> Example:</br></p><p>
											while True:</br>
											   &nbsp &nbsp &nbsp &nbsp &nbspif x == 10</br>
											       &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbspcontinue</br>
											   &nbsp &nbsp &nbsp &nbsp &nbspprint(x)
										</p>
								</header>
								</article>
								<article>
									<header class="major">

									<h2><a>Python Functions<br />
									</a></h2>
									<p style="text-align: justify;">Python Functions is a block of statements that return the specific task. The idea is to put some commonly or repeatedly done tasks together and make a function so that instead of writing the same code again and again for different inputs, we can do the function calls to reuse code contained in it over and over again.
										</br>
											Example:</br></p><p>
											def fun(): </br>
											&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;print("Welcome to TPC")
										</p>
								</header>
								</article>
									<article>
									<header class="major">

									<h2><a>Python OOPs Concepts<br />
									</a></h2>
									<p style="text-align: justify;">In Python, object-oriented Programming (OOPs) is a programming paradigm that uses objects and classes in programming. It aims to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in the programming. The main concept of OOPs is to bind the data and the functions that work on that together as a single unit so that no other part of the code can access this data.
									</p>
										<p>OOPs Concepts in Python:-</br>
											Class</br>
											Objects</br>
											Polymorphism</br>
											Encapsulation</br>
											Inheritance</br>
											Data Abstraction
										</p>
								</header>
								</article>


							</section>

						<!-- Footer -->
							<footer>
								<h4>Email:- thepythonunderscorecoder@gmail.com</h4>
							</footer>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="submit_form">
								<h2>Contact us:</h2>
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">



							<section>

							</section>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>